@using ChatrBox.Data;
@inject UserManager<Chatr> _userManager
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    var user = await _userManager.GetUserAsync(User);
}

<img src="@(user.ImageUrl ?? "")" style="width: 75px; height:75px" class="float-start m-3" />

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#logoutLink").on("click", function () {
            $("#logout").trigger("submit");
        });
    </script>
    @RenderSection("Scripts", required: false)
}
