@page
@model ChatrBox.Areas.Identity.Pages.Account.Manage.AddUserIconModel
@{
}
<h1>Pick a Chatr Icon!</h1>
<h2>Refresh for new icon or upload your own.</h2>
<form id="IconUploader" asp-page-handler="UpdateImage" method="post" enctype="multipart/form-data">
    <img id="previewIcon" src="@Model.IconInfo.ImageUrl" />
    <input asp-for="IconInfo.ImageHash" hidden />
    <input asp-for="IconInfo.ImageUrl" hidden />
    <input asp-for="ChatrId" hidden />
    <input asp-for="Uploader.Image" />
</form>
<form method="post">

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#Uploader_Image').on("change", function () {
            console.log("file detected"); //used for debugging
            $("#IconUploader").trigger("submit");
        });
    </script>
}