@page
@model ChatrBox.Areas.Identity.Pages.Account.Manage.ChangeIconModel

<h1>Change User Icon</h1>
<img id="TheFukinIcon" src="@Model.CurrentIconUrl" />

<form method="post">
    <select asp-for="URL">
        <option value="" class="text-muted" selected disabled hidden>--- Select Icon ---</option>
        @for (int i = 0; i < Model.IconNames.Count; i++)
        {
            <option value="@Model.IconPaths[i]">@Model.IconNames[i]</option>
        }
    </select>
    <button type="submit">Save Changes</button>
</form>

@section Scripts {
    <script>
        $("#URL").on("change", function () {
            var fukr = $("#URL").val();
            $("#TheFukinIcon").attr("src", fukr);
        });
    </script>
}