@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<div>
    <div class="logo-container" style="background-color:#202225;width:2000px;height:2000px;">
        <img src="~/Images/24.png" width="400px;" height="400px;">
<h1 style="background-color:#36393f; background-size:100vh;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
</div>