@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="d-flex justify-content-center align-items-center vh-100 bg-dark text-light">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <div class="text-center">
                    <img src="/images/24.PNG" class="w-25 py-2" style="border-radius:15%;" />
                    <h2>Welcome back to Chat'r Box!</h2>
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating text-dark">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Username" class="form-label"></label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating text-dark">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
<div class="interaction-blocker visually-hidden">
    <img src="~/images/loading.gif" title="Loading, Please wait..." class="loadingImg" />
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("form").on("submit", function (event) {
            $('.interaction-blocker').removeClass('visually-hidden');
        });
    </script>
}
