
<div id="EditModal">
    <form id="EditForm">
        <input id="EditMessageId" type="text" hidden />
        <div class="form-group" autofocus>
            <label for="EditMessage"  class="control-label"></label>
            <textarea id="EditMessage" name="EditMessage" class="form-control" rows="3"></textarea>
        </div>
@*         <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
            <input type="reset" value="Cancel" class="btn btn-danger" />
        </div> *@
    </form>
</div>

