@{
    ViewData["Title"] = "Home Page";
}

@section CSS {
    <style>
        .topic-list-item {
            list-style: none;
        }

        .topic-list-active {
            list-style: disc;
        }
        .community-list-item {
            list-style: none
        }

        .community-list-item-active {
            list-style: disc;
        }
        .logo-container-new {
            text-align: center; /* Center the logo horizontally */
            position: relative;
            width: 100%;
            padding-bottom: 10px
        }

        .logo-new {
            width: 100%; /* Set the width of the logo */
            height: auto; /* Maintain the aspect ratio */
            margin-bottom: 5px; /* Add some bottom margin for spacing */
            opacity: 1;
            display: block;
            width: 100%;
            position:absolute;
            top: 0;
            transition: .5s ease;
        }

        .gear-new {
            background-color: darkslategrey;
            background-size: auto;
            width: 100%;
            position: relative;
            opacity: .75;
            top: 0;
            display: block;
            visibility: hidden;
        }

        .logo-container-new:hover .gear-new {
            visibility: visible;
        }


    </style>
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar/Channel List -->
        <div style="background-color:#202225;" class="col-md-1 text-light vh-100 overflow-auto">
            <!-- Logo -->
            <!--
            <div class="logo-container">
                <a asp-area="Config" asp-action="Index" asp-controller="Communities">
                    <img src="~/Images/24.png" style="margin-top:4px;" alt="Chat'r Box Logo" class="logo">
                    <div class="middle">
                        <img src="~/Images/gear.png" style="margin-top:4px;" alt="pgear" class="gear" />
                    </div>
                </a>
            </div>
            -->
            <div >
                <a asp-area="Config" asp-action="Index" asp-controller="Communities" class="logo-container-new">
                    <img src="~/Images/logo_main.png" style="margin-top:4px;" alt="Chat'r Box Logo" class="logo-new">
                    <img src="~/Images/gear-normalized.png" style="margin-top:4px;" alt="pgear" class="gear-new" />
                </a>
            </div>
            <ul id="community_list">
                <!-- Community list populates here -->
            </ul>
            <!-- Add your channel list here -->
        </div>

        <div style="background-color:#2f3136;" class="col-md-2 text-light vh-100 overflow-auto solid-left-right-border position-relative">
            <h5 id="CommunityName" class="text-center"></h5>
            <h6 class="text-center">Topics</h6>
            <hr class="text-white" />
            <ul id="TopicList">
                <!-- Populated through JS, Very important -->
            </ul>

        </div>

        <div style="background-color:#36393f;" class="col-md-7 text-light vh-100">

            <a id="msgArchiveBtn" asp-area="Config" asp-controller="Messages" asp-action="Index" asp-route-topicId="@ViewBag.TopicId" class="btn btn-primary float-end m-3">Message Archive</a>
            <h2 class="text-center m-3">Message Center</h2>
            <div id="msg_window" style="width:100%; height:65%;" class="pane mx-auto m-4 col-md-10">
                <img src="~/images/loading.gif" />
            </div>

            <!--Message Input Box-->
            <div class="row">
                <div class="container-fluid col-md-12">
                    <form>
                        <!--Messages user writes go here-->
                        <textarea id="messageContent" class="form-control" rows="3" placeholder="Write your message here"></textarea>

                        <!--Submit Button-->
                        <div class="text-center my-2">
                            <button id="SendBtn" type="button" class="btn btn-primary px-5">Send</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>

        <div class=" bg-dark col-md-2 text-light vh-100 solid-left-right-border">

            <div id="user_window">
                <!--User statues are updated here through JavaScript-->
            </div>

        </div>

    </div>
</div>
<partial name="_EditMessagePartial" />
@section Scripts {
    <partial name="_ClientScriptsPartial" />
}