@{
    ViewData["Title"] = "Home Page";
}

@section CSS {
    <style>
        .topic-list-item{
             list-style: none;
        }
        .topic-list-active {
            list-style: disc;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar/Channel List -->
        <div style="background-color:#202225;" class="col-md-1 text-light vh-100 overflow-auto">
            <!-- Logo -->
            <div class="logo-container">
                <a asp-area="Config" asp-action="Index" asp-controller="Communities">
                    <img src="~/Images/24.png" style="margin-top:4px;" alt="Chat'r Box Logo" class="logo">
                </a>
            </div>
            <!-- Add your channel list here -->
        </div>

        <div style="background-color:#2f3136;" class="col-md-2 text-light vh-100 overflow-auto solid-left-right-border position-relative">
            <h5 id="CommunityName" class="text-center"></h5>
            <h6 class="text-center">Topics</h6>
            <hr class="text-white" />
            <ul id="TopicList">
                <!-- Populated through JS, Very important -->
            </ul>
            
        </div>


    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar/Channel List -->
            <div style="background-color:#202225;" class="col-md-1 text-light vh-100 overflow-auto">
            <!-- Logo -->
            
                <div class="logo-container">
                    <a asp-area="Config" asp-controller="Communities">
                        <img src="~/Images/24.png" style="margin-top:4px;"alt="Chat'r Box Settings'" class="logo">
                    
                <div class="middle">
                    <img src="~/Images/gear.png" style="margin-top:4px;" alt="pgear" class="gear" />
                </div>
                </a>
                </div>
                <!-- Add your channel list here -->
            </div>
           
                <div style="background-color:#2f3136;"class="col-md-2 text-light vh-100 overflow-auto solid-left-right-border position-relative">
                    <h2>Topic Window</h2>
                    <!--Add your topic list here-->
                </div>

        <div style="background-color:#36393f;" class="col-md-7 text-light vh-100">

            <button type="button" class="btn btn-primary float-end m-3">Message Archive</button>
            <h2 class="text-center m-3">Message Center</h2>
            <div id="msg_window" style="width:100%; height:65%;" class="pane mx-auto border-bottom border-start border-end border-top border-white m-4 col-md-10">
            </div>

            <!--Message Input Box-->
            <div class="row">
                <div class="container-fluid col-md-12">
                    <!--Messages user writes go here-->
                    <textarea class="form-control" rows="3" placeholder="Write your message here"></textarea>

                    <!--Submit Button-->
                    <div class="text-center my-2">
                        <button type="button" class="btn btn-primary px-5">Send</button>
                    </div>

                </div>

            </div>
                    <!--Message Input Box-->
                    <div class="row">
                        <div class="container-fluid p-4 col-md-10">
                            <!--Messages user writes go here-->
                            <textarea class="form-control" rows="3" placeholder="Write your message here"></textarea>
                                <!--Submit Button-->
                            <div class="text-center col-md-11 m-md-2">
                                <button type="button" class="btn btn-primary">Submit</button>
                            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/js/updateHandler.js"></script>
    }
            </div>

        </div>

    </div>
</div>
@section Scripts {
    <script>
        var topicId = @ViewBag.TopicId;
        ChatrBoxClient.Settings.TopicId = @ViewBag.TopicId;

        var communityId = @ViewBag.CommunityId;
        ChatrBoxClient.Settings.CommunityId = @ViewBag.CommunityId;
    </script>
    <script src="~/js/updateHandler.js"></script>
    }