@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="background-color:#36393f;">
<h1>@ViewData["Title"]</h1>
<h2>Chat'r Box</h2>
    <div class="align-center">
    <img src="~/Images/24.png" alt="Chat'r Box Logo" width="500" height="600" >
        <p>Privacy policy for Chat'r Box is as follows: <br />
            Copyrights  
        </p>
    </div>
    <div style="background-color:#36393f; background-size:100vh;">
        <a asp-action="Index">Back to Chat</a>
    </div>
</div>

