@section CSS {
        <style>
        .window, html, body {
            padding: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
        }
        .pane
        {
            float: left;
            background-color: aqua;
            overflow-y: auto;
            box-sizing: border-box;
            height: 100%;
            overflow-x: hidden;
        }
        #user_window
        {
            width: 30%;
        }
        #msg_window
        {
            background-color: aquamarine;
            width: 70%;
        }

        .userMsgIcon {
            width: 50px;
            height:50px;
            float:left;
        }

        .msgDisplay {
            border: groove 1pt black;
        }

        /* width */
        ::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 10px;
        }
    </style>
}

<div class="window">
    <div class="pane" id="user_window">
        
    </div>
    <div class="pane" id="msg_window">
    </div>
</div>
@section Scripts{
    <script src="~/js/msg_window.js"></script>
}