@model ChatrBox.Data.Community

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Community</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" value="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" value="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" value="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <input asp-for="OwnerId" value="Owner Id" class="form-control" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visibility" class="control-label"></label>
                <select asp-for="Visibility" value="Visibility" class="form-control"></select>
                <span asp-validation-for="Visibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentFilter" class="control-label"></label>
                <select asp-for="ContentFilter" value="Content Filter" class="form-control"></select>
                <span asp-validation-for="ContentFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageHash" class="control-label"></label>
                <input asp-for="ImageHash" value="Hash" class="form-control" />
                <span asp-validation-for="ImageHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" value="Url" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
