html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
div {
    padding:5px;
    text-align: center;
    border: 5px;
    color: white;
}
html {
  position: relative;
  min-height: 100%;
}
img {
    display: inline-block;
}
body {
  margin-bottom: 60px;
}
.center {
    text-align: center;
    display: flex;
    justify-content: center;
}
.solid-left-right-border {
    border-left: 2px solid #000; /* 2px solid black left border */
    border-right: 2px solid #000; /* 2px solid black right border */
}
.logo-container {
    text-align: center; /* Center the logo horizontally */
}

.logo {
    width: 100%; /* Set the width of the logo */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 5px; /* Add some bottom margin for spacing */
}
container {
    display: flex;
}
.window {
    padding: 1px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.pane {
    float: left;
    background-color: aqua;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

#user_window {
    width: 30%;
}

#msg_window {
    background-color: aquamarine;
    width: 70%;
}

.userMsgIcon {
    width: 50px;
    height: 50px;
    float: left;
}

.msgDisplay {
    border: groove 1pt black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
/*Targets the div container surrounding the online users*/
#onlineUsers {
    background-color: #2f3136;
    padding: 5px;
    border-radius: 2px;
}

/*Targets the div container surrounding the heading for the online users*/
.onlineUsersHeading {
    background-color: lightseagreen;
    padding: 5px;
    border-radius:2px;
    width:auto fit-content;
}

/*Targets the name of any user that is currently online*/
.activeUser {
    background-color: lightyellow;
    padding: 5px;
    border-radius: 2px;
    width:auto fit-content;
}

/*Targets the div container surrounding the offline users*/
#offlineUsers {
    background-color: #2f3136;
    padding: 5px;
    border-radius: 2px;
    width:auto fit-content;
}

/*Targets the div container surrounding the heading for the offline users*/
.offlineUsersHeading {
    background-color: indianred;
    padding: 5px;
    border-radius: 2px;
    width: auto fit-content;
}

/*Targets the name of any user that is currently offline*/
.inactiveUser {
    background-color: lightcoral;
    padding: 5px;
    border-radius: 3px;
    width:auto fit-content;
}

/*Targets one entire message within the message display container, it is the box surrounding the user icon, the username, 
and the message itself*/
.msgDisplay {
    background-color: #2f3136;
    padding: 5px;
    border-radius: 2px;
    width: auto;
    margin-bottom: 15px;
}

/*Targets the user icon associated with the sender of a message being displayed.*/
.userMsgIcon {
    font-size: 50px; /* Adjust the size of the icon as needed */
    transition: color 0.3s ease;
}